.skeleton_container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #ccc 0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 2s infinite ease-in-out;
  background-color: lightblue;

  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }
}
