/*=============================================
=            Brand Colors            =
=============================================*/

$primary: (
  "lighter": #f57d89,
  "light": #f15261,
  "main": #ee273a,
  "dark": #be1f2e,
  "darker": #8f1723,
);

$secondary: (
  "lighter": #72f4ad,
  "light": #43f092,
  "main": #14ec77,
  "dark": #10bd5f,
  "darker": #0c8e47,
);

/*=====  End of Brand Colors  ======*/

/*=============================================
=            Utils Colors            =
=============================================*/

$success: (
  "lighter": #66ffb3,
  "light": #1aff8d,
  "main": #00ff80,
  "dark": #00994d,
  "darker": #00331a,
);

$warning: (
  "lighter": #fff7cd,
  "light": #ffe16a,
  "main": #ffc107,
  "dark": #b78103,
  "darker": #7a4f01,
);

$error: (
  "lighter": #ffe7d9,
  "light": #ffa48d,
  "main": #ff4842,
  "dark": #b72136,
  "darker": #7a0c2e,
);

$info: (
  "lighter": #d0f2ff,
  "light": #74caff,
  "main": #1890ff,
  "dark": #0c53b7,
  "darker": #04297a,
);

/*=====  End of Utils Colors  ======*/

/*=============================================
=            Neutrition Colors            =
=============================================*/

$dark: (
  "lighter": #212121,
  "light": #1a1a1a,
  "main": #141414,
  "dark": #070707,
  "darker": #000000,
);

$light: (
  "lighter": #ffffff,
  "light": #ffffff80,
  "main": #ffffff,
  "dark": #cccccc,
  "darker": #999999,
);

$grey: (
  "100": #808080,
  "200": #737373,
  "300": #666666,
  "400": #5a5a5a,
  "500": #4d4d4d,
  "600": #404040,
  "700": #333333,
  "800": #262626,
  "900": #292e3d,
);

/*=====  End of Neutrition Colors  ======*/
