/* Yekan Bakh */

@font-face {
  font-family: "YekanBakh";
  font-weight: 300;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-Thin.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 400;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-Light.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 500;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-Regular.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 600;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-SemiBold.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 700;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-Bold.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 800;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-ExtraBold.woff")
    format("truetype");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 900;
  font-style: normal;
  src: url("../../../../public/fonts/YekanBakhFaNum-ExtraBlack.woff")
    format("truetype");
}
