/* breakpoints */

$breakpoint: (
  // 375px
  xs: calc(23.43em + 1px),
  // 425px
  sm: calc(26.56em + 1px),
  // 768px
  md: calc(48em + 1px),
  // 1024px
  lg: calc(64em + 1px),
  // 1440px
  xl: calc(90em + 1px)
);
