/*=============================================
=            Brand Colors            =
=============================================*/

$primary: (
  "lighter": #f57d89,
  "light": #f15261,
  "main": #ee273a,
  "dark": #be1f2e,
  "darker": #8f1723,
  "contrast": #fff,
);

$secondary: (
  "lighter": #ebd6fd,
  "light": #b985f4,
  "main": #774c9e,
  "dark": #431a9e,
  "darker": #200a69,
  "contrast": #fff,
);

/*=====  End of Brand Colors  ======*/

/*=============================================
=            Utils Colors            =
=============================================*/

$success: (
  "lighter": #66ffb3,
  "light": #1aff8d,
  "main": #00ff80,
  "dark": #00994d,
  "darker": #00331a,
  "contrast": #fff,
);

$warning: (
  "lighter": #fff7cd,
  "light": #ffe16a,
  "main": #ffc107,
  "dark": #b78103,
  "darker": #7a4f01,
  "contrast": #000,
);

$error: (
  "lighter": #ffe7d9,
  "light": #ffa48d,
  "main": #ff4842,
  "dark": #b72136,
  "darker": #7a0c2e,
  "contrast": #fff,
);

$info: (
  "lighter": #d0f2ff,
  "light": #74caff,
  "main": #1890ff,
  "dark": #0c53b7,
  "darker": #04297a,
  "contrast": #fff,
);

/*=====  End of Utils Colors  ======*/

/*=============================================
=            Neutrition Colors            =
=============================================*/

$common: (
  "dark": #000,
  "light": #fff,
);

$grey: (
  "0": #ffffff,
  "100": #f9fafb,
  "200": #f4f6f8,
  "300": #dfe3e8,
  "400": #c4cdd5,
  "500": #919eab,
  "600": #637381,
  "700": #454f5b,
  "800": #212b36,
  "900": #161c24,
);

/*=====  End of Neutrition Colors  ======*/
