/* header */
$HEADER_HEIGHT_DESKTOP: 96px;
$HEADER_HEIHGT_MOBILE: 64px;

/* navbar */
$NAVBAR_HORIZONTAL_HEIHGT_DESKTOP: 105px;
$NAVBAR_HORIZONTAL_HEIHGT_MOBILE: 70px;

/* direction */
$THEME_DIRECTION: ltr;
