@import "@/theme";

/* base */

.button_base {
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 12px;
  transition: 500ms all;

  font-size: useFont($button, "lg");
  font-weight: useFontWeight("bold");

  & .button_icon {
    font-size: useFont($button, "lg");
    font-weight: useFontWeight("bold");
  }
}

/* icon */
.icon-button {
  aspect-ratio: 1/1;
}

/* size */

.button-size-sm {
  padding: 0.25rem 0.5rem;
}
.button-size-md {
  height: 50px;
  padding: 0.5rem 1rem;
}
.button-size-lg {
  padding: 0.25rem 0.5rem;
}

/* variant */

.button-disabled {
  // color: useColor($grey, "100");
}

.button-variant-standard {
  // background-color: useColor($common, "light");
  // color: useColor($secondary, "main");

  &:is(:hover, :focus) {
    // background-color: useColor($primary, "dark");
    // color: color($light, "lighter");
  }
}

.button-variant-contained {
  // background-color: useColor($primary, "main");
  // color: useColor($light, "main");

  &:is(:hover, :focus) {
    // background-color: useColor($primary, "dark");
    // color: useColor($light, "lighter");
  }
}
.button-variant-outlined {
  background-color: transparent;
  // border: 2px solid useColor($primary, "main");
  // color: color($primary, "main");

  &:is(:hover, :focus) {
    // background-color: useColor($primary, "dark");
    // color: useColor($light, "lighter");
  }
}
