@import "../_functions/getColor";
@import "../_functions/getFontSize";
@import "../_functions/getFontWeight";

@mixin TransparentTypo {
  font-size: fontSize($header, "xxxl");
  font-weight: fontWeight("bolder");
  color: transparent;
  -webkit-text-stroke: 2px color($light, "dark");
  opacity: 0.9;
}
